.footer-container {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #393939;
  width: 100%;
}

.footer-sub-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  width: 90%;
}

.footer-copy {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: #fff;
}

.footer-copy p {
  margin: 0;
}

.footer-copy .contact-icons {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  margin-bottom: 1rem;
}

.footer-development {
  margin-top: 2rem;
}

.footer-development p {
  font-size: 0.7rem;
}

.footer-development img {
  max-width: 130px;
  width: 100%;
}

.btn-top {
  background-color: #1c1c1a;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 0;
  margin: 9.5rem 1.5rem 0 0;
}

@media (max-width: 768px) {
  .footer-sub-container {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .btn-top {
    width: 32px;
    height: 32px;
    margin-top: 15rem;
  }
}
