.section-about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #1c1c1a;
}

.contente-about {
  width: 86%;
}

.cont-title {
  padding: 30px;
  width: 100%;
}

.cont-title h2 {
  margin-top: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: calc(75% + 3.5vmin);
  font-weight: 700;
  color: white;
}

.cont-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cont-text p {
  width: 60%;
  color: #b2b2b2;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: calc(75% + 1.2vmin);
}

.cont-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 20px;
}

.cont-img img {
  opacity: 0.8;
  margin: 50px 0;
  width: 300px;
}

@media (max-width: 785px) {
  .contente-about {
    width: 100%;
  }
}

@media (max-width: 1115px) {
  .cont-text p {
    width: 80%;
  }
}
